<script src="~/Scripts/angular/StudentCtrl.js"></script>

<div ng-app="systemApp" ng-controller="studentCtrl">

    <div ng-repeat="tutor in tutors">
        {{tutor.Name}}
        {{tutor.PhoneNumber}}
    </div>

</div>