<script src="~/Scripts/angular/SearchCtrl.js"></script>
@{
    ViewBag.Title = "SearchPost";
}

<h2>Search Post</h2>

<div ng-app="systemApp" ng-controller="searchCtrl">
    
    <label>Search by any field <input type="text" ng-model="search.$" /></label><br /><br />
    <label>Search by the following info</label><br/>
    <div class="row">
        <div class="col-md-3">
            <label>Location</label>&nbsp;<input type="text" ng-model="search.PresentAddress" />
        </div>
        <div class="col-md-3">
            <label>Class</label>&nbsp;<input type="text" ng-model="search.Class" />
        </div>
        <div class="col-md-3">
            <label>Version</label>&nbsp;<input type="text" ng-model="search.Version" />
        </div>
        <div class="col-md-3">
            <label>Subject</label>&nbsp;<input type="text" ng-model="search.Subjects" />
        </div>
    </div><br /><br />

    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>Address</th>
                <th>Institute Name</th>
                <th>Class</th>
                <th>Version</th>
                <th>Subjects</th>
                <th>Days Per Week</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="post in allPost | filter: search">
                <td>{{post.PresentAddress}}</td>
                <td>{{post.InstituteName}}</td>
                <td>{{post.Class}}</td>
                <td>{{post.Version}}</td>
                <td>{{post.Subjects}}</td>
                <td>{{post.DaysPerWeek}}</td>
                <td><button class="btn btn-primary btn-flat" ng-click="showPost(post.Id)">Details</button></td>
            </tr>
        </tbody>
    </table>
    

</div>

