<script src="~/Scripts/angular/SearchCtrl.js"></script>
@{
    ViewBag.Title = "SearchTutor";
}

<h2>Search Tutor</h2>

<div ng-app="systemApp" ng-controller="searchCtrl" class="container">
    
    <label>Search by any field <input type="text" ng-model="search.$" /></label><br /><br />
    
    <div class="row">
        <div class="col-md-3">
            <label>Department/Subject</label>&nbsp;<input type="text" ng-model="search.Department" />
        </div>
        <div class="col-md-3">
            <br />
            <label>Year</label>&nbsp;<input type="text" ng-model="search.CurrentYear" />
        </div>
        <div class="col-md-3">
            <br />
            <label>Location</label>&nbsp;<input type="text" ng-model="search.PresentAddress" />
        </div>
        <div class="col-md-3">
            <br />
            <label>Interested Class</label>&nbsp;<input type="text" ng-model="search.InterestedClass" />
        </div>
        
    </div><br /><br />

    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Address</th>
            <th>Year</th>
            <th>ExpectedSalaryRange</th>
            <th>InterestedClass</th>
            <th>InterestedSubject</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tutor in allTutor | filter: search">
                <td>{{tutor.Name}}</td>
                <td>{{tutor.Department}}</td>
                <td>{{tutor.PresentAddress}}</td>
                <td>{{tutor.CurrentYear}}</td>
                <td>{{tutor.ExpectedSalaryRange}}</td>
                <td>{{tutor.InterestedClass}}</td>
                <td>{{tutor.InterestedSubject}}</td>
                <td><button class="btn btn-primary btn-flat" ng-click="showDetails(tutor.Id)">Details</button></td>
            </tr>
        </tbody>
    </table>

</div>

