@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Tutor Guide<br />
    IIT, University of Dhaka<br />
    <abbr title="Phone">P:</abbr>
    01925647185
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jobayeriitdu0502@gmail.com">jobayeriitdu0502@gmail.com</a><br />
</address>