<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>Create-Post</title>

        <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}"/>

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div id="header" th:include="page :: header"></div>

            <div id="content">
                <h2>Post a Tuition</h2>

                <form action="#" th:action="@{/create}" th:object="${post}" method="post">

                    <select th:field="*{medium}">
                        <option value="0">Select medium</option>
                        <option th:each="med : ${mediumList}"
                                th:value="${med.id}"
                                th:text="${med.name}">Bangla Version</option>
                    </select> <br />

                    <div class="classDiv">
                        <select th:field="*{class}">
                            <!--<option value="0">Select class</option>-->
                            <!--<option th:each=""-->
                                    <!--value="">Class 12</option>-->
                        </select>
                    </div>


                    <input type="submit" value="Submit" />
                </form>
            </div>

            <div id="footer" th:include="page :: footer"></div>
        </div>
        <script>

        </script>

        <script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
        <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
        <!--<script src="../../static/js/main.js" th:src="@{/js/main.js}"></script>-->

        <script>

            $(document).ready(function () {

                $("#medium").change(function () {

                    var searchClass = {};
                    searchClass["medium"] = $("#medium").val();

                    $.ajax({
                       type: "GET",
                        contentType: "application/json",
                        url: "/api/post/classes",
                        data: JSON.stringify(searchClass),
                        dataType: 'json',
                        success: function (result) {
                            if (result.status == "Done") {
                                $("#classDiv select").empty();

                                $.each(result.data, function (i, item) {
                                    $("#classDiv #class").append(item.name);
                                })
                                console.log("Success: ", result);
                            }
                            else {
                                $("#classDiv #class").append("Select class");
                                console.log("Failed: ", result);
                            }
                        },
                        error: function (e) {
                            $("#classDiv #class").append("Select class");
                            console.log("Error: ", e);
                        }
                    });
                })
            })

        </script>
    </body>
</html>