<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>Index-Post</title>

        <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}"/>

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div id="header" th:include="page :: header"></div>

            <div id="content">
                <h2>All posts</h2>

                <div th:unless="${#lists.isEmpty(postList)}">
                    <div th:each="post : ${postList}">
                        <table class="table table-bordered">
                            <tr>
                                <td>Area</td><td><span th:text="${post.area.name}"></span></td>
                            </tr>
                            <tr>
                                <td>Medium</td><td><span th:text="${post.medium.name}"></span></td>
                            </tr>
                            <tr>
                                <td>Class</td><td><span th:text="${post.class.name}"></span></td>
                            </tr>
                            <tr>
                                <td>Subjects</td>
                                <td th:each="subject : ${post.subjects}">
                                    <span th:text="${subject.name}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Days per Week</td><td><span th:text="${post.daysPerWeek}"></span></td>
                            </tr>
                            <tr>
                                <td>Salary</td><td><span th:text="${post.salay}"></span></td>
                            </tr>
                            <tr>
                                <td>School/College</td><td><span th:text="${post.institution}"></span></td>
                            </tr>
                            <tr>
                                <td>Student Name</td><td><span th:text="${post.studentName}"></span></td>
                            </tr>
                            <tr>
                                <td>Father's Name</td><td><span th:text="${post.fatherName}"></span></td>
                            </tr>
                            <tr>
                                <td>Address</td><td><span th:text="${post.address}"></span></td>
                            </tr>
                            <tr>
                                <td>Message</td><td><span th:text="${post.message}"></span></td>
                            </tr>
                            <tr>
                                <td>Post Date</td><td><span th:text="${post.postDate}"></span></td>
                            </tr>
                            <tr>
                                <td>Last Modified</td><td><span th:text="${post.lastModified}"></span></td>
                            </tr>
                            <tr>
                                <td>Status</td><td><span th:text="${post.status}"></span></td>
                            </tr>
                        </table>
                    </div>

                    <!--<dl th:each="post : ${postList}">-->
                        <!--<dt>-->
                            <!--<span th:text="${post.phone}">Phone</span> by-->
                            <!--<span th:text="${post.institution}">Institution</span>-->
                        <!--</dt>-->
                    <!--</dl>-->
                </div>

                <div th:if="${#lists.isEmpty(postList)}">
                    <p>You have not posted any tuition.</p>
                </div>
            </div>


            <div id="footer" th:include="page :: footer"></div>
        </div>

        <script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
        <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>