<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>My Posts</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/style.css}" />
</head>
<body>
    <h2>My posts</h2>
    <!--<div th:unless="${#lists.isEmpty(postList)}">-->
        <!--<dl th:each="post : ${postList}">-->
            <!--<dt>-->
               <!--<span th:text="${post.phone}">Phone</span> by-->
                <!--<span th:text="${post.institution}">Institution</span>-->
            <!--</dt>-->
        <!--</dl>-->
    <!--</div>-->

    <!--<div th:if="${#lists.isEmpty(postList)}">-->
        <!--<p>You have not posted any tuition.</p>-->
    <!--</div>-->
</body>
</html>