<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="header">
            <a th:href="@{/}">All Posts</a> |
            <a th:href="@{/create}">Create</a>
        </div>

        <div>Content goes here</div>

        <div th:fragment="footer">
            Copyright &copy; Jobayer Ahmmed
        </div>
    </body>
</html>